.header {
  background-color: #050b20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.left {
  display: flex;
  padding: 0 60px;
}

.logo {
  height: 100px;
  width: 100px;
  margin-right: 42px;
}

.phoneInner {
  display: flex;
  align-items: center;
}

.phoneLogo {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.phone {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.right {
  padding-right: 60px;
}

.link {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 10px;
}

.burgerInner {
  height: 100%;
  display: none;
  align-items: center;
  position: relative;
  z-index: 1001;
}

.burger {
  height: 40px;
  width: 40px;
  margin-right: 25px;
  position: relative;
  z-index: 1002;
}

.burgerItem {
  height: 2px;
  width: 40px;
  background-color: #fff;
  position: absolute;
  transition: 0.35s;
}

.burgerItem:nth-child(2) {
  top: calc(50% - 1px);
}

.mobileMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Show the menu when active */
.mobileMenu.active {
  display: flex;
}

.mobileMenuList {
  list-style-type: none;
  padding: 0;
}

.mobileLink {
  display: inline-block;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 10px 0;
}

@media screen and (max-width: 1000px) {
  .right {
    display: none;
  }
  .burgerInner {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .header {
    height: 60px;
  }
  .logo {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 500px) {
  .phoneInner {
    display: none;
  }
  .left {
    padding-right: 0;
  }
}
