.featured {
  background-color: #050b20;
  padding-bottom: 100px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.title {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40px;
}

.text {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.arrow {
  margin-left: 10px;
}

.tabs {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
}

.item {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 15px 0;
  margin-right: 20px;
  cursor: pointer;
}

.item.selected {
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 1200px) {
  .featured {
    padding-bottom: 20px;
  }
  .top {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 26px;
  }
}
