.inner {
  border-bottom: 1px solid #e1e1e1;
}

.details {
  display: grid;
  grid-template-columns: 500px 500px;
}

.title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 26px;
}

.row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 40px 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.rowTitle {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 8px;
  height: 18px;
  width: 18px;
}

.value {
  font-weight: 600;
}

@media screen and (max-width: 1020px) {
  .details {
    grid-template-columns: 1fr;
  }
}
