.inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.badges {
  display: flex;
  margin-bottom: 40px;
}

.badge {
  background-color: #e9f2ff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #405ff2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 14px 24px;
  margin-right: 10px;
}

.badgeLogo {
  margin-right: 8px;
}

.right {
  display: flex;
  flex-direction: column;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: 2px solid #e1e1e1;
  height: fit-content;
  padding: 30px;
  border-radius: 16px;
}

.price {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}

.link {
  background-color: #405ff2;
  color: #fff;
  height: 56px;
  width: 338px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin-top: 48px;
}

.linkLogo {
  transform: translateX(-40px);
}

.sliderImg {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1380px) {
  .right {
    flex-direction: row;
    align-items: center;
    max-width: 870px;
  }
  .link,
  .price {
    margin-top: 0;
  }
  .price {
    margin-left: 20px;
  }
  .link {
    margin-left: auto;
  }
}

@media screen and (max-width: 630px) {
  .right {
    flex-direction: column;
    justify-content: center;
  }
  .link {
    margin-left: 0;
  }
  .price {
    margin: 20px 0;
  }
  .badges {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .badge {
    margin: 0;
    max-width: 200px;
  }
  .badge:nth-child(n-1) {
    margin-right: 10px;
  }
  .badge:nth-child(1),
  .badge:nth-child(2) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .right {
    padding: 20px;
    margin-top: 30px;
  }
  .link {
    width: 200px;
  }
  .linkLogo {
    transform: translateX(-10px);
  }
}

@media screen and (max-width: 460px) {
  .badge {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .badgeLogo {
    margin: 0 0 4px 0;
  }
}
