.related-inner .swiper-button-prev {
  background-color: #252d49;
  width: 60px;
  height: 40px;
  border-radius: 30px;
}

.related-inner .swiper-button-prev:after {
  content: "";
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
  display: inline-block;
}

.related-inner .swiper-button-next {
  background-color: #252d49;
  width: 60px;
  height: 40px;
  border-radius: 30px;
  right: 0;
}

.related-inner .swiper-button-next:after {
  content: "";
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  height: 10px;
  width: 10px;
  display: inline-block;
  position: absolute;
}
.related-inner .swiper-pagination {
  position: relative;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.related-inner .swiper-pagination .swiper-pagination-bullet {
  background-color: #374a8b;
  opacity: 0.7;
}

.related-inner .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #212d55;
  opacity: 1;
}

.related-inner .swiper-button-prev,
.related-inner .swiper-button-next {
  z-index: 20;
}
