.item {
  height: 432px;
  width: 328px;
  border-radius: 16px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.top {
  position: relative;
}

.lightBlue {
  background-color: rgba(15, 23, 49, 0.9);
}
.darkBlue {
  background-color: #050b20;
}

.carImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #3d923a;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 30px;
  position: absolute;
  left: 20px;
  top: 23px;
}

.bot {
  padding: 0 30px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row:nth-child(2) {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0;
}

.title {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 16px;
  width: 16px;
}

.label {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 14px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.link {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 8px;
}

@media screen and (max-width: 1050px) {
  .item {
    height: 390px;
    width: 272px;
  }
}
