.inner {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  height: 394px;
  width: 686px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.item:nth-child(1) {
  background-color: #e9f2ff;
}

.item:nth-child(2) {
  background-color: #ffe9f3;
}

.itemLeft {
  display: flex;
  flex-direction: column;
  max-width: 355px;
}

.title {
  font-size: 30px;
  margin: 10px 0;
}

.info {
  font-size: 15px;
  line-height: 2;
}

.itemRight {
  margin-left: 60px;
}

.link {
  color: #fff;
  font-size: 15px;
  height: 60px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 14px;
}

.item:nth-child(1) .itemLeft .link {
  background-color: #405ff2;
}

.item:nth-child(2) .itemLeft .link {
  background-color: #050b20;
}

.arrow {
  margin-left: 10px;
}

@media screen and (max-width: 1550px) {
  .inner {
    flex-direction: column;
    align-items: center;
  }
  .item:nth-child(2) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 770px) {
  .item {
    height: 233px;
    width: 457px;
    padding: 15px;
  }

  .itemLink {
    height: 40px;
    width: 150px;
  }

  .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .item {
    width: 90%;
    flex-direction: column-reverse;
    padding: 10px;
    height: 280px;
  }
  .logo {
    height: 70px;
    width: 70px;
  }
  .title {
    font-size: 20px;
    margin: 4px 0;
  }
}
