.whyus {
  background-color: #f9fbfc;
  padding-bottom: 100px;
}

.title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  font-size: 40px;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.itemTitle {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
}

.info {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 2;
}

@media screen and (max-width: 1550px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .item {
    margin: 4px;
  }
}

@media screen and (max-width: 800px) {
  .whyus {
    padding-bottom: 10px;
  }
  .list {
    grid-template-columns: 1fr;
  }
  .item {
    margin: 20px 0 20px 0;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 30px;
  }
}
