.cars {
  padding-bottom: 80px;
}

.title {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 430px;
  justify-items: center;
  gap: 20px;
}

.buttonInner {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button {
  background-color: #405ff2;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  outline: none;
  border: none;
  padding: 15px 20px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 20px;
}

@media screen and (max-width: 1550px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .cars .cars-list .card-list-item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1060px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 620px) {
  .cars {
    padding-bottom: 10px;
  }
  .buttonInner {
    margin: 0;
  }
  .list {
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }
}
