

@media screen and (max-width: 730px) {
  .order-item {
    flex-direction: column;
    max-width: 400px;
  }
  .order-item-col {
    display: flex;
    justify-content: center;
  }
  .order-item-bot {
    margin-top: 20px;
  }
}
